$white-grid-row-cell-selected-background-color:transparent !default;
$white-grid-row-cell-selected-border-color: transparent !default;
$white-grid-row-cell-over-border-color:transparent !default;
$white-grid-row-cell-over-background-color:transparent !default;
$white-grid-row-cell-focus-border-color:transparent !default;
$white-grid-row-cell-focus-background-color:transparent !default;