

/*
 *  Sets custom item view  panel.Table (grid) vars
 *
 *	@author eirby
 *
 */
$white-grid-row-cell-selected-background-color:#FFF !default;
$white-grid-row-cell-selected-border-color: #FFF  !default;
$white-grid-row-cell-over-border-color:#FFF !default;
$white-grid-row-cell-over-background-color:#FFF  !default;
$white-grid-row-cell-focus-border-color:#FFF  !default;
$white-grid-row-cell-focus-background-color:#FFF  !default;