

.value-picker-window{
  .#{$prefix}panel-header{
      background-color: #ffffff;
      padding: 7px 10px 7px 0px;
  }
  .#{$prefix}panel-header-body{
    .#{$prefix}header-text{
      color: $dark-color;
    }
  }
  .#{$prefix}panel-body{
    border-width:1px;
  }
  .#{$prefix}header-text-container{
    padding:0;
  }
  .#{$prefix}column-header, .#{$prefix}grid-header-ct{
    background:none;
    border-color:transparent;
  }

  .#{$prefix}grid-row-selected {
    .#{$prefix}grid-td {
      border-style: $grid-row-cell-selected-border-style;
      border-color: $white-grid-row-cell-selected-border-color;
      background-color: $white-grid-row-cell-selected-background-color !important;
    }
  }
  .#{$prefix}grid-row-focused .#{$prefix}grid-td {
    border-top: $grid-cell-border-width $grid-row-focus-border-style $white-grid-row-cell-focus-border-color!important;
    border-bottom: $grid-cell-border-width $grid-row-focus-border-style $white-grid-row-cell-focus-border-color!important;
    background-color: $white-grid-row-cell-focus-background-color;
  }



  #valueCheck, #relationshipCheck, #qualityCheck{
    margin-top: 0;
  }
}
.value-picker-row{
  .#{$prefix}grid-row-over .#{$prefix}grid-td {
    border-color: $white-grid-row-cell-over-border-color;
    background-color: $white-grid-row-cell-over-background-color;
  }
}
.value-picker-row-hover{
  .#{$prefix}grid-row-over .#{$prefix}grid-td {
    #removeSelectedValue, #removeSelectedQuality{
      display:inline;
    }
  }
}