# ignore the Sencha build directory
src/public/build
src/public/packages/savanna/build
sencha-compile-temp-dir

# ignore Idea-specific files
*.iml
.idea

# ignore Mac-specific files
.DS_Store

# ignore vim files
*.swp
*.swo

# ignore node_modules
src/node_modules

# ignore npm debug log
npm-debug.log

# ignore SASS cache in theme
.sass-cache/

# ignore temp compass compile build
src/public/packages/savanna/sass/var/Component.css
src/public/packages/savanna/sass/var/Component.css
src/public/sass/example/bootstrap.js
src/public/sass/example/example.css
src/public/packages/savanna-theme/build
src/public/bootstrap.css
src/public/packages/thetus-uikit/
src/public/packages/deft/

# ignore test report files
src/public/test/reports/phantom
src/public/test/reports/jasmine
target/
src/public/test/reports/errors.log
src/public/test/stop-jscover.txt
