/*
 *	Visually styles the commit button (blue as of 3.x)
 *
 *	@author jgriffith
 */

/*
 *	@variables
 */
// Taken from var/Component.scss
$font-color: #fff;
$uikit-background-gradient: #389acc, #0b7bb4;
$uikit-background-gradient-hover: #3897c8, #0b567e;
$uikit-background-gradient-active: #448eb3, #17587c;

$uikit-box-shadow: 0px 2px 3px rgba(50, 50, 50, 0.5);
$uikit-box-shadow-pressed: $uikit-box-shadow, inset 0px 2px 3px rgba(50, 50, 50, 0.5);

/*
 *	@runtime
 */
@include thetus-button-ui(
	$thetus-label: 'commit-small',

    $thetus-border-width: 0px,

    $thetus-border-radius: 4px,

    $thetus-border-color: transparent,
    $thetus-border-color-over: transparent,
    $thetus-border-color-focus: transparent,
    $thetus-border-color-pressed: transparent,
    $thetus-border-color-disabled: transparent,
	
	$thetus-padding: 6px 2px,
    
    // Must have a non-transparent BG in order for gradients to show up.
	$thetus-background-color: #0073ae,
    $thetus-background-color-over: #0073ae,
    $thetus-background-color-focus: #0073ae,
    $thetus-background-color-pressed: #0073ae,
    $thetus-background-color-disabled: #0073ae,

    $thetus-background-gradient: $uikit-background-gradient,
    $thetus-background-gradient-over: $uikit-background-gradient-hover,
    $thetus-background-gradient-focus: $uikit-background-gradient,
    $thetus-background-gradient-pressed: $uikit-background-gradient-active,
    $thetus-background-gradient-disabled: $uikit-background-gradient,

    $thetus-color: $font-color,
    $thetus-color-over: $font-color,
    $thetus-color-focus: $font-color,
    $thetus-color-pressed: $font-color,
    $thetus-color-disabled: $font-color,

    $thetus-font-size: 11px,
    $thetus-font-family: $Open-Sans-Normal,
    $thetus-font-family-over: $Open-Sans-Normal,
    $thetus-font-family-focus: $Open-Sans-Normal,
    $thetus-font-family-pressed: $Open-Sans-Normal,
    $thetus-font-family-disabled: $Open-Sans-Normal,
    
    $thetus-icon-size: $font-size,
    $thetus-glyph-color: #ffffff,

    $thetus-box-shadow: $uikit-box-shadow,
    $thetus-box-shadow-pressed: $uikit-box-shadow-pressed
);