/*
 *	Visually styles the commit button (blue as of 3.x)
 *
 *	@author jgriffith
 */

/*
 *	@variables
 */
// Taken from var/Component.scss
$font-color: #fff;
$uikit-background-gradient: #389acc, #0b7bb4;
$uikit-background-gradient-hover: #3897c8, #0b567e;
$uikit-background-gradient-active: #448eb3, #17587c;

/*
 *	@runtime
 */
@include extjs-button-ui(
	$ui: 'commit-small',

    $border-width: 0px,

    $border-radius: 4px,

    $border-color: transparent,
    $border-color-over: transparent,
    $border-color-focus: transparent,
    $border-color-pressed: transparent,
    $border-color-disabled: transparent,
	
	$padding: 7px 12px,
    
    // Must have a non-transparent BG in order for gradients to show up.
	$background-color: #0073ae,
    $background-color-over: #0073ae,
    $background-color-focus: #0073ae,
    $background-color-pressed: #0073ae,
    $background-color-disabled: #0073ae,

    $background-gradient: $uikit-background-gradient,
    $background-gradient-over: $uikit-background-gradient-hover,
    $background-gradient-focus: $uikit-background-gradient,
    $background-gradient-pressed: $uikit-background-gradient-active,
    $background-gradient-disabled: $uikit-background-gradient,

    $color: $font-color,
    $color-over: $font-color,
    $color-focus: $font-color,
    $color-pressed: $font-color,
    $color-disabled: $font-color,

    $font-size: 14px,
    $font-family: $Open-Sans-Normal,
    $font-family-over: $Open-Sans-Normal,
    $font-family-focus: $Open-Sans-Normal,
    $font-family-pressed: $Open-Sans-Normal,
    $font-family-disabled: $Open-Sans-Normal,
    
    $icon-size: $font-size,
    $glyph-color: #ffffff
);