/*
 * Flat Tab mixin
 * Visually styles a tab to visually appear flat based off of a class (user defined)
 */
@mixin flat-tab(
	$class: 'flat-tab',
	$background: linear-gradient(top, #cfcece 0%, #ededed 35%),
	$tab-offset-padding: 8px 0 0 20px,
	$tab-color: #fff,
	$tab-font-weight: normal,
	$tab-border-radius: 0px,
	$tab-border: 1px solid #424242,
	$tab-padding: 3px 20px,
	$tab-background: #424242,
	$tab-active-background: white,
	$tab-active-color: #505050
){
	.#{$class} {

		// Background behind all tabs
		.#{$prefix}tab-bar-default-top {
			@include background($background);
			padding: $tab-offset-padding;
		}

		// Tab text
		.#{$prefix}tab-inner {
			font-weight: $tab-font-weight;
			color: $tab-color;
		}

		// Default (all!) tab styles
		.#{$prefix}tab-default-top {
			@include box-shadow(none);
			@include border-radius($tab-border-radius);
			border: $tab-border;
			padding: $tab-padding;
			color: $tab-color;
			background: $tab-background;

			// Active only tabs
			&-active {
				background: $tab-active-background;
				border-bottom: 1px solid $tab-active-background;

				.#{$prefix}tab-inner {
					color: $tab-active-color;
				}
			}
		}

		.#{$prefix}tab-bar-strip-default {
			border: none;
			border-top: $tab-border;
		}

		.#{$prefix}panel-body {
			border-color: white;
		}
	}
}