/*
*	System Wide, common colors
*/
$thetus-blue: #008bb9 !default;     //aka Savanna blue
$thetus-ltblue: #bfe2ed !default;   //

$light-gray: #ccc !default;
$medium-gray: #666 !default;
$dark-gray: #333 !default;
$item-hover: #5ab6cc !default;
$item-select: #1a6385 !default;
$divider: #CCCCCC !default;

$background-bottom-level: #666 !default;
$backgorund-mid-level: #F2F2F2 !default;
$background-top-level: #FFF !default;

// Common Shadow properties
$button-default-shadow: rgba(50, 50, 50, 0.5) 0px 2px 3px !default;
$element-hover: white 10px 0 25px 25px !default;