@mixin thetus-icons{
    font-family: 'thetus-icons';
    speak: none;
/* Enable Ligatures */
    -webkit-font-feature-settings:"liga","dlig";-moz-font-feature-settings:"liga=1, dlig=1";-moz-font-feature-settings:"liga","dlig";-ms-font-feature-settings:"liga","dlig";-o-font-feature-settings:"liga","dlig";
    font-feature-settings:"liga","dlig";
    text-rendering:optimizeLegibility;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
    font-size: 16px;
}

.close-btn {
    @include thetus-icons;
    
    &:before{
        content: 'closeRollout';
    }
    &:hover:before{
        content: 'closeRollover';
    }

    &[disabled], .disabled{
        @include opacity(0.8);

        &:hover:before{
            content: 'closeRollout';
        }
    }
}