$greyGradient: #666666, #3f3e40;

@include extjs-toolbar-ui(
	$ui: 'link-toolbar',
	$background-color: null,
	$background-gradient: $greyGradient,
	$border-color: #fafbfc,
	$border-width: 1px 0 0 0
	);
