/* Search Option Panels */
$panel-searchoption-header-color: #000 !default;
$panel-searchoption-header-font-weight: bold !default;
$panel-searchoption-header-line-height: 13px !default;
$panel-searchoption-header-background-color: white !default;
$panel-searchoption-header-text-padding: 1px !default;
$panel-searchoption-header-text-transform: capitalize !default;
$panel-searchoption-header-padding: 0 5px 3px 5px !default;
$panel-searchoption-header-icon-width: 12px !default;
$panel-searchoption-header-icon-height: 12px !default;
$panel-searchoption-header-icon-spacing: 2px !default;
$panel-searchoption-body-padding: 0 !default;
$panel-searchoption-body-border-color: #fff !default;