/*
*
*
* @author Eirby 10/21/2013
*
*
*/

$item-view-left-column-border-width: 1px !default;
$item-view-left-column-border-style:solid !default;
$item-view-panel-header-font-size: 16px !default;
$item-view-panel-header-line-height: 34px !default;
$item-view-panel-header-border-color: transparent !default;
$item-view-panel-header-background-color: #ffffff !default;

