// /*
//  *   @author astump 10/24/2013 - adding vars for 'result-facet' ui
//  *
//  */

/* Result Facets Panels */
$panel-resultfacet-header-color: #000 !default;
$panel-resultfacet-header-font-weight: normal !default;
$panel-resultfacet-header-line-height: 13px !default;
$panel-resultfacet-header-background-color: white !default;
$panel-resultfacet-header-text-padding: 1px !default;
$panel-resultfacet-header-text-transform: capitalize !default;
$panel-resultfacet-header-padding: 5px !default;
$panel-resultfacet-header-icon-width: 12px !default;
$panel-resultfacet-header-icon-height: 12px !default;
$panel-resultfacet-header-icon-spacing: 2px !default;
$panel-resultfacet-body-padding: 0 0 0 16px !default;
$panel-resultfacet-body-border-color: #fff !default;