// /*
//  *   @author astump 10/9/2013 - added custom var for logic in thetus-uikit/sass/src/panel/Table.scss
//	*								$grid-cell-title
//  *   @edit eirby 10/23/2013
//  *
//  */

@import 'class/whiteGridView';

$grid-cell-title-padding-bottom: 5px !default;

// /* THESE SHOULD PROBABLY BE ADDED TO UIKIT */
$grid-body-border-color : #fff !default;
$grid-body-border-style : none !default;
$grid-body-border-width : 0 !default;

$grid-cell-border-width: 0 !default;

$grid-row-cell-border-color: #fff !default;
$grid-row-cell-border-style: none !default;
$grid-row-cell-border-width: 0 !default;
$grid-row-focus-border-style: none !default;
$grid-row-cell-focus-background-color : $rollover_list !default;
$grid-row-cell-focus-border-color : $rollover_list !default;
$grid-row-cell-focus-border-style : none !default;
$grid-row-cell-over-background-color: $rollover_list !default;
$grid-row-cell-over-border-color: $rollover_list !default;
$grid-row-cell-selected-background-color : $selected_list !default;
$grid-row-cell-selected-border-color : $selected_list !default;
$grid-row-cell-selected-border-style :  none !default;
$grid-row-body-padding: 0px !default;

$grid-cell-word-wrap: true !default;


