/*
*	@private variables
*/ 
$leaflet-toolbar-font-size: 14px;
$leaflet-toolbar-font-family: "SickFont";
$leaflet-toolbar-font-color: #000;
$leaflet-toolbar-font-color-hover: #0073ae;
$leaflet-toolbar-font-color-pressed: #0073ae;

$leaflet-toolbar-button-background: #fff;
$leaflet-toolbar-button-background-hover: #ccc;
$leaflet-toolbar-button-background-pressed: #ccc;

$leaflet-toolbar-button-border: 1px solid #333;

 /*
 *	@runtime CSS
 */
.leaflet-draw-toolbar{
	font-family: $leaflet-toolbar-font-family;
	font-size: $leaflet-toolbar-font-size;
	color: $leaflet-toolbar-font-color;

	/* all Toolbar Buttons */
	a{
		background-image: none;
		background-color: $leaflet-toolbar-button-background;
		&:hover{
			background-color: $leaflet-toolbar-button-background-hover;
			color: $leaflet-toolbar-font-color-hover;
			
		}
	}
	.leaflet-draw-toolbar-button-enabled{
		background-color: $leaflet-toolbar-button-background-pressed;
		color: $leaflet-toolbar-font-color-pressed;
		border: $leaflet-toolbar-button-border;
	}
	
	/* toolbar icons */
	.leaflet-draw-draw-polygon:before{ content: "\f14b"; } //POLYGON
	.leaflet-draw-edit-edit:before{ content: "\f115"; } //EDIT
}