/*
*  Sets custom toolbar styles by reusing ExtJS (or UIKit) mixins.
*
* @author lpelofske
*/


//                               d8,           d8b       d8b                
//                              `8P            ?88       88P                
//                                              88b     d88                 
// ?88   d8P d888b8b    88bd88b  88b d888b8b    888888b 888   d8888b .d888b,
// d88  d8P'd8P' ?88    88P'  `  88Pd8P' ?88    88P `?8b?88  d8b_,dP ?8b,   
// ?8b ,88' 88b  ,88b  d88      d88 88b  ,88b  d88,  d88 88b 88b       `?8b 
// `?888P'  `?88P'`88bd88'     d88' `?88P'`88bd88'`?88P'  88b`?888P'`?888P' 
  
@include extjs-toolbar-ui(
    $ui: 'brand-header-toolbar-small',

    $background-color: transparent,
    $background-gradient:null,
    $border-color:transparent,
    $border-width: 0px
);

@include extjs-toolbar-ui(
    $ui: 'brand-header-toolbar-medium',

    $background-color: transparent,
    $background-gradient:null,
    $border-color:transparent,
    $border-width: 0px
);

@include extjs-toolbar-ui(
    $ui: 'brand-header-toolbar-large',

    $background-color: transparent,
    $background-gradient:null,
    $border-color:transparent,
    $border-width: 0px
);

@include extjs-toolbar-ui(
    $ui: 'brand-header',
    $background-color: #262626,
    $border-width: 0px,
    $border-color:transparent
);
//Ext.toolbar
//                                      d8,                     
//                                d8P   `8P                      
//                             d888888P                          
//   88bd88b?88   d8P  88bd88b   ?88'    88b  88bd8b,d88b  d8888b
//   88P'  `d88   88   88P' ?8b  88P     88P  88P'`?8P'?8bd8b_,dP
//  d88     ?8(  d88  d88   88P  88b    d88  d88  d88  88P88b    
// d88'     `?88P'?8bd88'   88b  `?8b  d88' d88' d88'  88b`?888P'
 

.#{$prefix}toolbar-brand-header.#{$prefix}toolbar-docked-top {
 	@include background-image(linear-gradient(top, $brand-header-toolbar-border-color-top 0%, $brand-header-toolbar-background-gradient-top 4%, $brand-header-toolbar-background-gradient-bottom 96%, $brand-header-toolbar-border-color-bottom 100%));
  border-width: 0px;
  padding: 0px;
}

.#{$prefix}toolbar-docked-top .#{$prefix}toolbar-brand-header {
  background-color: transparent;
  padding: 0;
}

.#{$prefix}toolbar-brand-header label {
  font-size: 15px;
  font-weight: 700;
  color: #999999;
  text-transform: uppercase
}