/*
*  Variables for brand-header and workspace-header toolbar style
*  @author lpelofske
*  @edit  eirby 10/22/13
*  @edit  lsanz 10/29/13
*/

$brand-header-toolbar-border-color-top: #6a6a6a !default;
$brand-header-toolbar-background-gradient-top: #4c4c4c !default;
$brand-header-toolbar-background-gradient-bottom: #3e3e3e !default;
$brand-header-toolbar-border-color-bottom: #494949 !default;

$brand-header-toolbar-background-color: transparent !default;
$brand-header-toolbar-background-gradient: null !default;
$brand-header-toolbar-border-width: 0px !default;
$brand-header-toolbar-border-color: transparent !default;

$workspace-header-toolbar-background-color: #262626 !default;
$workspace-header-toolbar-border-width: 0px !default;
$workspace-header-toolbar-border-color: transparent !default;

$toolbar-lightToolbar-background-color: #f1f1f1 !default;
$toolbar-darkToolbar-background-color: #666 !default;

$item-view-header-toolbar-background-color:#f5f5f5 !default;


$toolbar-horizontal-spacing: 5px !default;
$toolbar-footer-horizontal-spacing: 0px !default;
$toolbar-vertical-spacing: 0px !default;
$toolbar-footer-vertical-spacing: 0px !default;
