/*
 *	Default button (UIKit light gray button)
 */

// Default state
$button-small-border-radius: 4px;
$button-default-background-gradient: #ffffff, #e6e6e6;

// :hover
$button-default-background-gradient-over: #ffffff, #f2f2f2;

// :active
$button-default-background-gradient-pressed: #e6e6e6, #fefefe;