.x-boxselect.x-form-text {
  height: auto;
  cursor: text;
  padding: 0;
  overflow-y: auto;
}
.x-boxselect ul.x-boxselect-list {
  padding: 1px 3px;
  margin: 0px;
}
ul.x-boxselect-list.x-boxselect-singleselect {
  white-space: nowrap;
  overflow: hidden;
}
.x-boxselect-input, .x-boxselect-item {
  display: inline-block;
  position: relative;
  *display:inline; /* IE7 */
  zoom:1; /* IE */
}
.x-boxselect-input input, .x-boxselect-input div {
  border: none;
  background-color: inherit;
  line-height: 18px !important;
  height: 20px;
  width: 100%;
}
.x-boxselect-emptyinput {
  display: none;
}
.x-boxselect-stacked .x-boxselect-item {
  display: block;
}
.x-boxselect-item {
  padding: 0px 1px 0px 5px !important;
  margin: 1px 1px 1px 0;
  color: #f2f2f2;
  background-color: #4c4c4c;
  cursor: default;
}
.x-field:not(.x-item-disabled) .x-boxselect-item:hover {
  background: #5a5a5a;
  //border: 1px solid #5a5a5a;
}
.x-field:not(.x-item-disabled) .x-boxselect-item.selected {
  //border: 1px solid #5c5c5c !important;
  background: #5c5c5c !important;
}
.x-boxselect-item-text {
  line-height: 16px;
  padding-right: 20px !important;
  color:#F2f2f2;
}
.x-boxselect-item-close {

  font-family: 'thetus-icons';
  speak: none;
  -webkit-font-feature-settings: "liga","dlig";
  -moz-font-feature-settings: "liga=1, dlig=1";
  -moz-font-feature-settings: "liga","dlig";
  -ms-font-feature-settings: "liga","dlig";
  -o-font-feature-settings: "liga","dlig";
  font-feature-settings: "liga","dlig";
  text-rendering: optimizeLegibility;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  font-size: 16px;
}

.x-tab-default .x-boxselect-item-close  {
  width: 12px;
  height: 14px;
  background-image: none !important;
}

.x-boxselect-item-close:before{
  content: "closeRollout";
  position: absolute;
  cursor: pointer;
  right: 0;
  top: -4px;
  color: #8c8c8c;
  font-size: 18px;
  line-height: 14px;
}



.x-boxselect-hideselections .x-boundlist-selected {
  display: none;
}