/*
 *  Sets custom panel.Panel styles by reusing ExtJS (or UIKit) mixins.
 *  Refer to thetus-uikit/sass/src/panel/_uikit-panel.scss for the constructor of the UIKit mixin
 *
 *
 *	@author astump 10/17/2013
 *
 */

// /* IMPORTS */

// /* MIXINS */
@if $include-panel-uis == true {
    @include uikit-panel(
        $uikit-ui: 'search-prime',
        $uikit-body-color: $medium-gray,
        $uikit-body-background-color: $medium-gray
    );
    
	// /* 
	//  * This is the solution for search option and result facets until these can be changed 
	//  * from 'accordion panels' to 'form field set groups'. 
	// */
	@include uikit-panel(
		$uikit-ui: 'search-dal-group',
	    $uikit-header-color: $panel-searchoption-header-color,
	    $uikit-header-font-weight: $panel-searchoption-header-font-weight,
	    $uikit-header-line-height: $panel-searchoption-header-line-height,
	    $uikit-header-background-color: $panel-searchoption-header-background-color,
	    $uikit-header-text-padding: $panel-searchoption-header-text-padding,
	    $uikit-header-text-transform: $panel-searchoption-header-text-transform,
	    $uikit-header-padding: $panel-searchoption-header-padding,
	    $uikit-header-icon-width: $panel-searchoption-header-icon-width,
	    $uikit-header-icon-height: $panel-searchoption-header-icon-height,
	    $uikit-header-icon-spacing: $panel-searchoption-header-icon-spacing,
	    
	    $uikit-body-padding: $panel-searchoption-body-padding,
	    $uikit-body-border-color: $panel-searchoption-body-border-color,
	    $uikit-tool-color: $panel-searchoption-header-color
	);
	
	@include uikit-panel(
		$uikit-ui: 'results-facet',
	    $uikit-header-color: $panel-resultfacet-header-color,
	    $uikit-header-font-weight: $panel-resultfacet-header-font-weight,
	    $uikit-header-line-height: $panel-resultfacet-header-line-height,
	    $uikit-header-background-color: $panel-resultfacet-header-background-color,
	    $uikit-header-text-padding: $panel-resultfacet-header-text-padding,
	    $uikit-header-text-transform: $panel-resultfacet-header-text-transform,
	    $uikit-header-padding: $panel-resultfacet-header-padding,
	    $uikit-header-icon-width: $panel-resultfacet-header-icon-width,
	    $uikit-header-icon-height: $panel-resultfacet-header-icon-height,
	    $uikit-header-icon-spacing: $panel-resultfacet-header-icon-spacing,
	    
	    $uikit-body-padding: $panel-resultfacet-body-padding,
	    $uikit-body-border-color: $panel-resultfacet-body-border-color,
	    $uikit-tool-color: $panel-resultfacet-header-color
	);
	@include uikit-panel(
        $uikit-ui: 'left-padding',
        $uikit-body-padding: $panel-leftpadding-body-padding
    );

	.#{$prefix}panel-body-search-dal-group{
		text-align: right;
	}
}
@include uikit-panel (
  $uikit-ui: 'item-view',
  $uikit-header-color: $font-color,
  $uikit-header-font-family: $panel-header-font-family,
  $uikit-header-font-size: $item-view-panel-header-font-size,
  $uikit-header-font-weight: $panel-body-font-weight,
  $uikit-header-line-height: $item-view-panel-header-line-height,
  $uikit-header-border-color: $item-view-panel-header-border-color,
  $uikit-header-border-width: $panel-header-border-width,
  $uikit-header-border-style: $panel-header-border-style,
  $uikit-header-background-color: $item-view-panel-header-background-color
);

.item-view-left-column{
  border-right-width:$item-view-left-column-border-width;
  border-right-style: $item-view-left-column-border-style;
}
