/*
* Sets custom panel.Panel styles by reusing ExtJS (or UIKit) mixins.
 *  Refer to thetus-uikit/sass/src/panel/_uikit-panel.scss for the constructor of the UIKit mixin
 *
 *
 *	@author astump 10/17/2013
*
* @author Eirby 10/21/2013
*
*
*/

@import 'class/whiteGridView';

@if $include-panel-uis == true {
  @include uikit-panel(
    $uikit-ui: 'search-prime',
    $uikit-body-color: $medium-gray,
    $uikit-body-background-color: $medium-gray
  );
}

@include uikit-panel (
  $uikit-ui: 'item-view',
  $uikit-header-color: $font-color,
  $uikit-header-font-family: $panel-header-font-family,
  $uikit-header-font-size: $item-view-panel-header-font-size,
  $uikit-header-font-weight: $panel-body-font-weight,
  $uikit-header-line-height: $item-view-panel-header-line-height,
  $uikit-header-border-color: $item-view-panel-header-border-color,
  $uikit-header-border-width: $panel-header-border-width,
  $uikit-header-border-style: $panel-header-border-style,
  $uikit-header-background-color: $item-view-panel-header-background-color
);

.item-view-left-column{
    border-right-width:$item-view-left-column-border-width;
    border-right-style: $item-view-left-column-border-style;
}




