/*
 *  Sets custom panel.Table (grid) styles 
 *
 *	@author eirby
 *	@edit 	astump 8/30/2013 - added notes
 *	@edits	astump 10/9/2013 - added word-wrap, vertical-align, and heading padding
 *
 */


.#{$prefix}grid-cell-inner {
	/* These can be removed with new UIKit */
	@if $grid-cell-word-wrap {
		white-space: normal;
		word-wrap: break-word;	
	}
	
	tbody {
		vertical-align: top;
	}
	/* END UIKIT styles */

	/* This is specific to Savanna */
    @if $grid-cell-title-padding-bottom != null {
    	.grid-cell-title {
    		padding-bottom: $grid-cell-title-padding-bottom;
    	}
    } 
}