/*
 *	@author astump 10/16/2013
 *	styles for dropdown menu lists.
*/

$boundlist-item-over-border-color: #ebf1f4 !default;
$boundlist-item-selected-border-color: #cce1ee !default;

$boundlist-item-over-background-color: #ebf1f4 !default;
$boundlist-item-selected-background-color: #cce1ee !default;