// TODO: Abstract this into a mixin?
.search-dal {
	.#{$prefix}form-cb-label {
		font-family: $Open-Sans-Bold;
		margin-left: 8px;
		color: $gray-font
	}
	.dal-label,
	.dal-toggle,
	.dal-checkbox {
		display: inline-block;
		vertical-align: middle;
	}
	.dal-label {
		position: absolute;
		left: 30%;
		top: 5px;
	}
	.dal-toggle {
		position: absolute;
		padding: 4px 13px;
		right: 3px;
	}
}
.#{$prefix}box-item.search-dal {
 	padding: 10px 0 10px;
 	border-top: 1px solid $gray-border;

 	&:hover {
 		background-color: #ebf1f4;
 	}
}
.#{$prefix}tabpanel-child.search-dal {
	padding: 10px 25px 10px;
}