/*
 *  Sets custom button styles for framework header.
 *
 *  @author lpelofske 9/23/2013
 *  
 */

/*                    
* Runtime
*/

@if $include-ext-toolbar-toolbar {
    @include uikit-button(
        $uikit-ui: 'brand-header-toolbar-small',

        $uikit-padding: $brand-header-button-padding,

        $uikit-border-radius: $brand-header-button-border-radius,
        $uikit-border-width: 0px,

        $uikit-glyph-color: $brand-header-glyph-color,
        $uikit-glyph-opacity: $brand-header-glyph-opacity,

        $uikit-color: $brand-header-button-color,
        $uikit-color-over: $brand-header-button-color-over,
        $uikit-color-focus: $brand-header-button-color-over,
        $uikit-color-pressed: $brand-header-button-color-pressed,
        $uikit-color-disabled: $brand-header-button-color-disabled,

        $uikit-border-color: $brand-header-button-border-color,
        $uikit-border-color-over: $brand-header-button-border-color-over,
        $uikit-border-color-focus: $brand-header-button-border-color-focus,
        $uikit-border-color-pressed: $brand-header-button-border-color-pressed,
        $uikit-border-color-disabled: $brand-header-button-border-color-disabled,

        $uikit-background-color: $brand-header-button-background-color,
        $uikit-background-color-over: $brand-header-button-background-color-over,
        $uikit-background-color-focus: $brand-header-button-background-color-focus,
        $uikit-background-color-pressed: $brand-header-button-background-color-pressed,
        $uikit-background-color-disabled: $brand-header-button-background-color-disabled,

        $uikit-background-gradient: $brand-header-button-background-gradient,
        $uikit-background-gradient-over: $brand-header-button-background-gradient-over,
        $uikit-background-gradient-focus: $brand-header-button-background-gradient-focus,
        $uikit-background-gradient-pressed: $brand-header-button-background-gradient-pressed,
        $uikit-background-gradient-disabled: $brand-header-button-background-gradient-disabled,
        $uikit-text-decoration: $button-basic-text-decoration
    );
    @include uikit-button(
        $uikit-ui: 'brand-header-toolbar-medium',

        $uikit-padding: $brand-header-button-padding,

        $uikit-border-radius: $brand-header-button-border-radius,
        $uikit-border-width: 0px,

        $uikit-glyph-color: $brand-header-glyph-color,
        $uikit-glyph-opacity: $brand-header-glyph-opacity,

        $uikit-color: $brand-header-button-color,
        $uikit-color-over: $brand-header-button-color-over,
        $uikit-color-focus: $brand-header-button-color-over,
        $uikit-color-pressed: $brand-header-button-color-pressed,
        $uikit-color-disabled: $brand-header-button-color-disabled,

        $uikit-border-color: $brand-header-button-border-color,
        $uikit-border-color-over: $brand-header-button-border-color-over,
        $uikit-border-color-focus: $brand-header-button-border-color-focus,
        $uikit-border-color-pressed: $brand-header-button-border-color-pressed,
        $uikit-border-color-disabled: $brand-header-button-border-color-disabled,

        $uikit-background-color: $brand-header-button-background-color,
        $uikit-background-color-over: $brand-header-button-background-color-over,
        $uikit-background-color-focus: $brand-header-button-background-color-focus,
        $uikit-background-color-pressed: $brand-header-button-background-color-pressed,
        $uikit-background-color-disabled: $brand-header-button-background-color-disabled,

        $uikit-background-gradient: $brand-header-button-background-gradient,
        $uikit-background-gradient-over: $brand-header-button-background-gradient-over,
        $uikit-background-gradient-focus: $brand-header-button-background-gradient-focus,
        $uikit-background-gradient-pressed: $brand-header-button-background-gradient-pressed,
        $uikit-background-gradient-disabled: $brand-header-button-background-gradient-disabled,
        $uikit-text-decoration: $button-basic-text-decoration
    );
    @include uikit-button(
        $uikit-ui: 'brand-header-toolbar-large',

        $uikit-padding: $brand-header-large-toolbar-button-padding,

        $uikit-border-radius: $brand-header-button-border-radius,
        $uikit-border-width: 0px,

        $uikit-glyph-color: $brand-header-glyph-color,
        $uikit-glyph-opacity: $brand-header-glyph-opacity,

        $uikit-color: $brand-header-button-color,
        $uikit-color-over: $brand-header-button-color-over,
        $uikit-color-focus: $brand-header-button-color-over,
        $uikit-color-pressed: $brand-header-button-color-pressed,
        $uikit-color-disabled: $brand-header-button-color-disabled,

        $uikit-border-color: $brand-header-button-border-color,
        $uikit-border-color-over: $brand-header-button-border-color-over,
        $uikit-border-color-focus: $brand-header-button-border-color-focus,
        $uikit-border-color-pressed: $brand-header-button-border-color-pressed,
        $uikit-border-color-disabled: $brand-header-button-border-color-disabled,

        $uikit-background-color: $brand-header-button-background-color,
        $uikit-background-color-over: $brand-header-button-background-color-over,
        $uikit-background-color-focus: $brand-header-button-background-color-focus,
        $uikit-background-color-pressed: $brand-header-button-background-color-pressed,
        $uikit-background-color-disabled: $brand-header-button-background-color-disabled,

        $uikit-background-gradient: $brand-header-button-background-gradient,
        $uikit-background-gradient-over: $brand-header-button-background-gradient-over,
        $uikit-background-gradient-focus: $brand-header-button-background-gradient-focus,
        $uikit-background-gradient-pressed: $brand-header-button-background-gradient-pressed,
        $uikit-background-gradient-disabled: $brand-header-button-background-gradient-disabled,
        $uikit-text-decoration: $button-basic-text-decoration

    );
    @include uikit-button(
        $uikit-ui: 'workspace-header-toolbar-small',

        $uikit-padding: $workspace-header-small-toolbar-button-padding,

        $uikit-border-radius: $workspace-header-button-border-radius,
        $uikit-border-width: $workspace-header-button-border-width,

        $uikit-glyph-color: $workspace-header-glyph-color,
        $uikit-glyph-opacity: $workspace-header-glyph-opacity,

        $uikit-color: $workspace-header-button-color,
        $uikit-color-over: $workspace-header-button-color-over,
        $uikit-color-focus: $workspace-header-button-color-over,
        $uikit-color-pressed: $workspace-header-button-color-pressed,
        $uikit-color-disabled: $workspace-header-button-color-disabled,

        $uikit-border-color: $workspace-header-button-border-color,
        $uikit-border-color-over: $workspace-header-button-border-color-over,
        $uikit-border-color-focus: $workspace-header-button-border-color-focus,
        $uikit-border-color-pressed: $workspace-header-button-border-color-pressed,
        $uikit-border-color-disabled: $workspace-header-button-border-color-disabled,

        $uikit-background-color: $workspace-header-button-background-color,
        $uikit-background-color-over: $workspace-header-button-background-color-over,
        $uikit-background-color-focus: $workspace-header-button-background-color-focus,
        $uikit-background-color-pressed: $workspace-header-button-background-color-pressed,
        $uikit-background-color-disabled: $workspace-header-button-background-color-disabled,

        $uikit-background-gradient: $workspace-header-button-background-gradient,
        $uikit-background-gradient-over: $workspace-header-button-background-gradient-over,
        $uikit-background-gradient-focus: $workspace-header-button-background-gradient-focus,
        $uikit-background-gradient-pressed: $workspace-header-button-background-gradient-pressed,
        $uikit-background-gradient-disabled: $workspace-header-button-background-gradient-disabled,
        $uikit-text-decoration: $button-basic-text-decoration
    );
    @include uikit-button(
        $uikit-ui: 'workspace-header-toolbar-medium',

        $uikit-padding: $workspace-header-button-padding,

        $uikit-border-radius: $workspace-header-button-border-radius,
        $uikit-border-width: $workspace-header-button-border-width,

        $uikit-glyph-color: $workspace-header-glyph-color,
        $uikit-glyph-opacity: $workspace-header-glyph-opacity,

        $uikit-color: $workspace-header-button-color,
        $uikit-color-over: $workspace-header-button-color-over,
        $uikit-color-focus: $workspace-header-button-color-over,
        $uikit-color-pressed: $workspace-header-button-color-pressed,
        $uikit-color-disabled: $workspace-header-button-color-disabled,

        $uikit-border-color: $workspace-header-button-border-color,
        $uikit-border-color-over: $workspace-header-button-border-color-over,
        $uikit-border-color-focus: $workspace-header-button-border-color-focus,
        $uikit-border-color-pressed: $workspace-header-button-border-color-pressed,
        $uikit-border-color-disabled: $workspace-header-button-border-color-disabled,

        $uikit-background-color: $workspace-header-button-background-color,
        $uikit-background-color-over: $workspace-header-button-background-color-over,
        $uikit-background-color-focus: $workspace-header-button-background-color-focus,
        $uikit-background-color-pressed: $workspace-header-button-background-color-pressed,
        $uikit-background-color-disabled: $workspace-header-button-background-color-disabled,

        $uikit-background-gradient: $workspace-header-button-background-gradient,
        $uikit-background-gradient-over: $workspace-header-button-background-gradient-over,
        $uikit-background-gradient-focus: $workspace-header-button-background-gradient-focus,
        $uikit-background-gradient-pressed: $workspace-header-button-background-gradient-pressed,
        $uikit-background-gradient-disabled: $workspace-header-button-background-gradient-disabled,
        $uikit-text-decoration: $button-basic-text-decoration
    );
    @include uikit-button(
        $uikit-ui: 'workspace-header-toolbar-large',

        $uikit-padding: $workspace-header-button-padding,

        $uikit-border-radius: $workspace-header-button-border-radius,
        $uikit-border-width: $workspace-header-button-border-width,

        $uikit-glyph-color: $workspace-header-glyph-color,
        $uikit-glyph-opacity: $workspace-header-glyph-opacity,

        $uikit-color: $workspace-header-button-color,
        $uikit-color-over: $workspace-header-button-color-over,
        $uikit-color-focus: $workspace-header-button-color-over,
        $uikit-color-pressed: $workspace-header-button-color-pressed,
        $uikit-color-disabled: $workspace-header-button-color-disabled,

        $uikit-border-color: $workspace-header-button-border-color,
        $uikit-border-color-over: $workspace-header-button-border-color-over,
        $uikit-border-color-focus: $workspace-header-button-border-color-focus,
        $uikit-border-color-pressed: $workspace-header-button-border-color-pressed,
        $uikit-border-color-disabled: $workspace-header-button-border-color-disabled,

        $uikit-background-color: $workspace-header-button-background-color,
        $uikit-background-color-over: $workspace-header-button-background-color-over,
        $uikit-background-color-focus: $workspace-header-button-background-color-focus,
        $uikit-background-color-pressed: $workspace-header-button-background-color-pressed,
        $uikit-background-color-disabled: $workspace-header-button-background-color-disabled,

        $uikit-background-gradient: $workspace-header-button-background-gradient,
        $uikit-background-gradient-over: $workspace-header-button-background-gradient-over,
        $uikit-background-gradient-focus: $workspace-header-button-background-gradient-focus,
        $uikit-background-gradient-pressed: $workspace-header-button-background-gradient-pressed,
        $uikit-background-gradient-disabled: $workspace-header-button-background-gradient-disabled,
        $uikit-text-decoration: $button-basic-text-decoration
    );
}

@include uikit-button(
$uikit-ui: 'dark-small',
$uikit-background-color: $new-savanna-tab-button-background-color,
$uikit-background-color-over: $new-savanna-tab-button-background-color-over,
$uikit-background-color-focus: $new-savanna-tab-button-background-color-focus,
$uikit-background-color-pressed: $new-savanna-tab-button-background-color-pressed,
$uikit-background-color-disabled: $new-savanna-tab-button-background-color-disabled

);

/*
* Logic  
*/ 


.logoButtonFramework {
    background-image: $brand-header-logo-image;
    background-repeat: no-repeat;
    background-position: top left;
    width: 193px;
    height: 38px;
    top:0;

    &:hover, &:active, &:focus, 
    .logoButtonFramework.#{$prefix}btn-brand-header-toolbar-large-focus {
        @include opacity(0.85);
    }
}
@mixin thetus-header-icon-button{
  padding: 0;
  .#{$prefix}btn-glyph{
    color:#777777;
    font-size:20px;
    line-height:27px;
    text-align:center;
    width: 100%;
    text-shadow:0 1px #808080;
    &:hover, &:active, &:focus{
      color:#808080;
    }
  }

}
.searchButtonFramework,
.uploadButtonFramework,
.errorButtonFramework, 
.helpButtonFramework, 
.userButtonFramework {
    display:inline-block;
    @include thetus-header-icon-button;
    &:hover, &:active, &:focus{
      background-color: rgba(36, 36, 36, 0.35);
    }
}

.errorButtonFramework,
.helpButtonFramework,
.userButtonFramework {
  .#{$prefix}btn-glyph{
    font-size:16px;
  }
}

.userButtonFramework{
  .#{$prefix}btn-arrow {
    background-image: none;
    padding-left: 5px;
    padding-right: 0px;
    &:before{
      content:"arrowDDdown";
      right: 0;
      top: 11px;
      font-size: 16px;
      position: absolute;
      color:#808080;
    }
    text-shadow:0 1px #999999;
    &:hover, &:active, &:focus{
      colore:#999999;
      text-shadow:0 1px #808080;
    }
  }
  .#{$prefix}btn-glyph{
    text-align: left;
  }
}

.#{$prefix}tab-icon-el{
  @include thetus-icons;
}


.singleViewButtonFramework, 
.singleViewButtonFramework:hover, 
.singleViewButtonFramework:active, 
.singleViewButtonFramework.#{$prefix}btn-workspace-header-toolbar-small-focus,
.singleViewButtonFramework.#{$prefix}btn-workspace-header-toolbar-small-active,
.singleViewButtonFramework.#{$prefix}btn-workspace-header-toolbar-small-pressed {
    width: 22px;
    height: 22px;
  .#{$prefix}btn-button{
    height:20px;
  }
  .#{$prefix}btn-glyph{
    text-align: center;
    width:20px;
    line-height: 20px;
  }
}

.splitViewButtonFramework, 
.splitViewButtonFramework:hover, 
.splitViewButtonFramework:active, 
.splitViewButtonFramework.#{$prefix}btn-workspace-header-toolbar-small-focus,
.splitViewButtonFramework.#{$prefix}btn-workspace-header-toolbar-small-active,
.splitViewButtonFramework.#{$prefix}btn-workspace-header-toolbar-small-pressed {
    width: 22px;
    height: 22px;
  .#{$prefix}btn-button{
    height:20px;
  }
  .#{$prefix}btn-glyph{
    text-align: center;
    width:20px;
    line-height: 20px;
  }
}

.#{$prefix}icon{
  @each $alt-button-state in pressed, focus, over{
    &.#{$prefix}btn-#{$alt-button-state} {
      .#{$prefix}btn-inner{
        text-decoration:none;
      }
    }
  }

  .#{$prefix}btn-inner{
    text-decoration:none;
  }
}

.new-savanna-tab{
  .#{$prefix}btn-inner{
    text-decoration:none;
  }
  .#{$prefix}btn-arrow{
    padding-right: 0;
    width: 25px;
    &:before {
    content: "plus";
    right: 0;
    font-size: 16px;
    position: absolute;
    text-align: center;
    width: 25px;
    line-height: 25px;
    display: block;
    font-size: 10px;
    }
    color:$tab-dark-color;
    &:hover{
      opacity:0.5;
    }
  }
}

.image-browser-control{
  .#{$prefix}btn-glyph{
    line-height:98px;
  }
}