/*
 *  Sets custom button styles for framework header.
 *
 *  @author lpelofske 9/23/2013
 *  
 */

/*                    
* Runtime
*/  
@if $include-ext-toolbar-toolbar {
    @include extjs-button-ui(
        $ui: 'brand-header-toolbar-small',

        $padding: $brand-header-button-padding,

        $border-radius: $brand-header-button-border-radius,
        $border-width: 0px,

        $glyph-color: $brand-header-glyph-color,
        $glyph-opacity: $brand-header-glyph-opacity,

        $color: $brand-header-button-color,
        $color-over: $brand-header-button-color-over,
        $color-focus: $brand-header-button-color-over,
        $color-pressed: $brand-header-button-color-pressed,
        $color-disabled: $brand-header-button-color-disabled,

        $border-color: $brand-header-button-border-color,
        $border-color-over: $brand-header-button-border-color-over,
        $border-color-focus: $brand-header-button-border-color-focus,
        $border-color-pressed: $brand-header-button-border-color-pressed,
        $border-color-disabled: $brand-header-button-border-color-disabled,

        $background-color: $brand-header-button-background-color,
        $background-color-over: $brand-header-button-background-color-over,
        $background-color-focus: $brand-header-button-background-color-focus,
        $background-color-pressed: $brand-header-button-background-color-pressed,
        $background-color-disabled: $brand-header-button-background-color-disabled,

        $background-gradient: $brand-header-button-background-gradient,
        $background-gradient-over: $brand-header-button-background-gradient-over,
        $background-gradient-focus: $brand-header-button-background-gradient-focus,
        $background-gradient-pressed: $brand-header-button-background-gradient-pressed,
        $background-gradient-disabled: $brand-header-button-background-gradient-disabled
    );
    @include extjs-button-ui(
        $ui: 'brand-header-toolbar-medium',

        $padding: $brand-header-button-padding,

        $border-radius: $brand-header-button-border-radius,
        $border-width: 0px,

        $glyph-color: $brand-header-glyph-color,
        $glyph-opacity: $brand-header-glyph-opacity,

        $color: $brand-header-button-color,
        $color-over: $brand-header-button-color-over,
        $color-focus: $brand-header-button-color-over,
        $color-pressed: $brand-header-button-color-pressed,
        $color-disabled: $brand-header-button-color-disabled,

        $border-color: $brand-header-button-border-color,
        $border-color-over: $brand-header-button-border-color-over,
        $border-color-focus: $brand-header-button-border-color-focus,
        $border-color-pressed: $brand-header-button-border-color-pressed,
        $border-color-disabled: $brand-header-button-border-color-disabled,

        $background-color: $brand-header-button-background-color,
        $background-color-over: $brand-header-button-background-color-over,
        $background-color-focus: $brand-header-button-background-color-focus,
        $background-color-pressed: $brand-header-button-background-color-pressed,
        $background-color-disabled: $brand-header-button-background-color-disabled,

        $background-gradient: $brand-header-button-background-gradient,
        $background-gradient-over: $brand-header-button-background-gradient-over,
        $background-gradient-focus: $brand-header-button-background-gradient-focus,
        $background-gradient-pressed: $brand-header-button-background-gradient-pressed,
        $background-gradient-disabled: $brand-header-button-background-gradient-disabled
    );
    @include extjs-button-ui(
        $ui: 'brand-header-toolbar-large',

        $padding: $brand-header-large-toolbar-button-padding,

        $border-radius: $brand-header-button-border-radius,
        $border-width: 0px,

        $glyph-color: $brand-header-glyph-color,
        $glyph-opacity: $brand-header-glyph-opacity,

        $color: $brand-header-button-color,
        $color-over: $brand-header-button-color-over,
        $color-focus: $brand-header-button-color-over,
        $color-pressed: $brand-header-button-color-pressed,
        $color-disabled: $brand-header-button-color-disabled,

        $border-color: $brand-header-button-border-color,
        $border-color-over: $brand-header-button-border-color-over,
        $border-color-focus: $brand-header-button-border-color-focus,
        $border-color-pressed: $brand-header-button-border-color-pressed,
        $border-color-disabled: $brand-header-button-border-color-disabled,

        $background-color: $brand-header-button-background-color,
        $background-color-over: $brand-header-button-background-color-over,
        $background-color-focus: $brand-header-button-background-color-focus,
        $background-color-pressed: $brand-header-button-background-color-pressed,
        $background-color-disabled: $brand-header-button-background-color-disabled,

        $background-gradient: $brand-header-button-background-gradient,
        $background-gradient-over: $brand-header-button-background-gradient-over,
        $background-gradient-focus: $brand-header-button-background-gradient-focus,
        $background-gradient-pressed: $brand-header-button-background-gradient-pressed,
        $background-gradient-disabled: $brand-header-button-background-gradient-disabled
    );
    @include extjs-button-ui(
        $ui: 'workspace-header-toolbar-small',

        $padding: $workspace-header-small-toolbar-button-padding,

        $border-radius: $workspace-header-button-border-radius,
        $border-width: $workspace-header-button-border-width,

        $glyph-color: $workspace-header-glyph-color,
        $glyph-opacity: $workspace-header-glyph-opacity,

        $color: $workspace-header-button-color,
        $color-over: $workspace-header-button-color-over,
        $color-focus: $workspace-header-button-color-over,
        $color-pressed: $workspace-header-button-color-pressed,
        $color-disabled: $workspace-header-button-color-disabled,

        $border-color: $workspace-header-button-border-color,
        $border-color-over: $workspace-header-button-border-color-over,
        $border-color-focus: $workspace-header-button-border-color-focus,
        $border-color-pressed: $workspace-header-button-border-color-pressed,
        $border-color-disabled: $workspace-header-button-border-color-disabled,

        $background-color: $workspace-header-button-background-color,
        $background-color-over: $workspace-header-button-background-color-over,
        $background-color-focus: $workspace-header-button-background-color-focus,
        $background-color-pressed: $workspace-header-button-background-color-pressed,
        $background-color-disabled: $workspace-header-button-background-color-disabled,

        $background-gradient: $workspace-header-button-background-gradient,
        $background-gradient-over: $workspace-header-button-background-gradient-over,
        $background-gradient-focus: $workspace-header-button-background-gradient-focus,
        $background-gradient-pressed: $workspace-header-button-background-gradient-pressed,
        $background-gradient-disabled: $workspace-header-button-background-gradient-disabled
    );
    @include extjs-button-ui(
        $ui: 'workspace-header-toolbar-medium',

        $padding: $workspace-header-button-padding,

        $border-radius: $workspace-header-button-border-radius,
        $border-width: $workspace-header-button-border-width,

        $glyph-color: $workspace-header-glyph-color,
        $glyph-opacity: $workspace-header-glyph-opacity,

        $color: $workspace-header-button-color,
        $color-over: $workspace-header-button-color-over,
        $color-focus: $workspace-header-button-color-over,
        $color-pressed: $workspace-header-button-color-pressed,
        $color-disabled: $workspace-header-button-color-disabled,

        $border-color: $workspace-header-button-border-color,
        $border-color-over: $workspace-header-button-border-color-over,
        $border-color-focus: $workspace-header-button-border-color-focus,
        $border-color-pressed: $workspace-header-button-border-color-pressed,
        $border-color-disabled: $workspace-header-button-border-color-disabled,

        $background-color: $workspace-header-button-background-color,
        $background-color-over: $workspace-header-button-background-color-over,
        $background-color-focus: $workspace-header-button-background-color-focus,
        $background-color-pressed: $workspace-header-button-background-color-pressed,
        $background-color-disabled: $workspace-header-button-background-color-disabled,

        $background-gradient: $workspace-header-button-background-gradient,
        $background-gradient-over: $workspace-header-button-background-gradient-over,
        $background-gradient-focus: $workspace-header-button-background-gradient-focus,
        $background-gradient-pressed: $workspace-header-button-background-gradient-pressed,
        $background-gradient-disabled: $workspace-header-button-background-gradient-disabled
    );
    @include extjs-button-ui(
        $ui: 'workspace-header-toolbar-large',

        $padding: $workspace-header-button-padding,

        $border-radius: $workspace-header-button-border-radius,
        $border-width: $workspace-header-button-border-width,

        $glyph-color: $workspace-header-glyph-color,
        $glyph-opacity: $workspace-header-glyph-opacity,

        $color: $workspace-header-button-color,
        $color-over: $workspace-header-button-color-over,
        $color-focus: $workspace-header-button-color-over,
        $color-pressed: $workspace-header-button-color-pressed,
        $color-disabled: $workspace-header-button-color-disabled,

        $border-color: $workspace-header-button-border-color,
        $border-color-over: $workspace-header-button-border-color-over,
        $border-color-focus: $workspace-header-button-border-color-focus,
        $border-color-pressed: $workspace-header-button-border-color-pressed,
        $border-color-disabled: $workspace-header-button-border-color-disabled,

        $background-color: $workspace-header-button-background-color,
        $background-color-over: $workspace-header-button-background-color-over,
        $background-color-focus: $workspace-header-button-background-color-focus,
        $background-color-pressed: $workspace-header-button-background-color-pressed,
        $background-color-disabled: $workspace-header-button-background-color-disabled,

        $background-gradient: $workspace-header-button-background-gradient,
        $background-gradient-over: $workspace-header-button-background-gradient-over,
        $background-gradient-focus: $workspace-header-button-background-gradient-focus,
        $background-gradient-pressed: $workspace-header-button-background-gradient-pressed,
        $background-gradient-disabled: $workspace-header-button-background-gradient-disabled
    );
}
/*
* Logic  
*/ 

.#{$prefix}btn-brand-header-toolbar-small .#{$prefix}btn-arrow {
  background-image: none;
  &:before{
    content:"arrowDDdown";
    right: -17px;
    top: 16px;
    font-size: 1.5em;
    position: absolute;
    color:#808080;
  }
  text-shadow:0 1px #999999;
  &:hover, &:active, &:focus{
    colore:#999999;
    text-shadow:0 1px #808080;
  }
}

.logoButtonFramework {
    background-image: $brand-header-logo-image;
    background-repeat: no-repeat;
    background-position: top left;
    width: 193px;
    height: 38px;
    top:0;

    &:hover, &:active, &:focus, 
    .logoButtonFramework.#{$prefix}btn-brand-header-toolbar-large-focus {
        @include opacity(0.85);
    }
}
@mixin thetus-header-icon-button{
  padding: 0;
  .#{$prefix}btn-glyph{
    color:#808080;
    font-size:29px;
    line-height:32px;
    text-align:center;
    text-shadow:0 1px #999999;
    &:hover, &:active, &:focus{
      colore:#999999;
      text-shadow:0 1px #808080;
    }
  }

}
.searchButtonFramework,
.uploadButtonFramework,
.errorButtonFramework, 
.helpButtonFramework, 
.userButtonFramework {
    display:inline-block;
    @include thetus-header-icon-button;
}

.#{$prefix}tab-icon-el{
  @include thetus-icons;
}


.singleViewButtonFramework, 
.singleViewButtonFramework:hover, 
.singleViewButtonFramework:active, 
.singleViewButtonFramework.#{$prefix}btn-workspace-header-toolbar-small-focus,
.singleViewButtonFramework.#{$prefix}btn-workspace-header-toolbar-small-active,
.singleViewButtonFramework.#{$prefix}btn-workspace-header-toolbar-small-pressed {
    background-image: $workspace-header-singleview-image;
    background-position: center center;
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
}

.splitViewButtonFramework, 
.splitViewButtonFramework:hover, 
.splitViewButtonFramework:active, 
.splitViewButtonFramework.#{$prefix}btn-workspace-header-toolbar-small-focus,
.splitViewButtonFramework.#{$prefix}btn-workspace-header-toolbar-small-active,
.splitViewButtonFramework.#{$prefix}btn-workspace-header-toolbar-small-pressed {
    background-image: $workspace-header-splitview-image;
    background-position: center center;
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
}