/*
 * Styles buttons globally (including parts tabs and toolbars).
 *
 * @author lpelofske
 *
 */

/*
 *	@private variables
 */

/*
 *	brand-header button styles
 */
$button-base-color: #008bd9 !default;
$button-default-color: $button-base-color !default;
$button-default-color-over: $button-base-color !default;
$button-default-color-focus: $button-base-color !default;
$button-default-color-pressed: $button-base-color !default;
$button-default-color-disabled: $button-base-color !default;

$brand-header-button-padding: 8px 12px !default;

$brand-header-button-border-radius: 0px !default;
$brand-header-button-border-width: 0px !default;

$brand-header-glyph-color: #999999 !default;
$brand-header-glyph-opacity: 1 !default;

$brand-header-button-color: #999999 !default;
$brand-header-button-color-over: #999999 !default;
$brand-header-button-color-focus: #999999 !default;
$brand-header-button-color-pressed: #999999 !default;
$brand-header-border-color-disabled: #999999 !default;

$brand-header-button-border-color: transparent !default;
$brand-header-button-border-color-over: transparent !default;
$brand-header-button-border-color-focus: transparent !default;
$brand-header-button-border-color-pressed: transparent !default;
$brand-header-button-border-color-disabled: transparent !default;

$brand-header-button-background-color: transparent !default;
$brand-header-button-background-color-over: transparent !default;
$brand-header-button-background-color-focus: transparent !default;
$brand-header-button-background-color-pressed: transparent !default;
$brand-header-button-background-color-disabled: transparent !default;

$brand-header-button-background-gradient: null !default;
$brand-header-button-background-gradient-over: transparent !default;
$brand-header-button-background-gradient-focus: transparent !default;
$brand-header-button-background-gradient-pressed: transparent !default;
$brand-header-button-background-gradient-disabled: transparent !default;

// brand-header large toolbar button
$brand-header-large-toolbar-button-padding: 0px !default;

/*
*  workspace toolbar button styles
*/

$workspace-header-button-padding: 8px 12px !default;

$workspace-header-button-border-radius: 0px !default;
$workspace-header-button-border-width: 1px !default;

$workspace-header-glyph-color: #999999 !default;
$workspace-header-glyph-opacity: 1 !default;

$workspace-header-button-color: #999999 !default;
$workspace-header-button-color-over: #999999 !default;
$workspace-header-button-color-focus: #999999 !default;
$workspace-header-button-color-pressed: #999999 !default;
$workspace-header-button-color-disabled: #999999 !default;

$workspace-header-button-border-color: transparent !default;
$workspace-header-button-border-color-over: #00c0ff !default;
$workspace-header-button-border-color-focus: #00c0ff !default;
$workspace-header-button-border-color-pressed: #00c0ff !default;
$workspace-header-button-border-color-disabled: transparent !default;

$workspace-header-button-background-color: transparent !default;
$workspace-header-button-background-color-over: transparent !default;
$workspace-header-button-background-color-focus: transparent !default;
$workspace-header-button-background-color-pressed: transparent !default;
$workspace-header-button-background-color-disabled: transparent !default;

$workspace-header-button-background-gradient: null !default;
$workspace-header-button-background-gradient-over: transparent !default;
$workspace-header-button-background-gradient-focus: transparent !default;
$workspace-header-button-background-gradient-pressed: transparent !default;
$workspace-header-button-background-gradient-disabled: transparent !default;

//workspace
$workspace-header-small-toolbar-button-padding: 0px !default;

/* Button Toggle */
$button-toggle-padding: 0 !default;
$button-toggle-text-padding: 0 !default;
$button-toggle-color-pressed: #333 !default;
$button-toggle-color-over: $button-toggle-color-pressed !default;

//new-savanna-tab
$new-savanna-tab-button-background-color: #4c4c4c !default;
$new-savanna-tab-button-background-color-over: mix(#fff, $new-savanna-tab-button-background-color, 20%) !default;
$new-savanna-tab-button-background-color-focus: mix(#fff, $new-savanna-tab-button-background-color, 20%) !default;
$new-savanna-tab-button-background-color-pressed: mix(#fff, $new-savanna-tab-button-background-color, 20%) !default;
$new-savanna-tab-button-background-color-disabled: mix(#fff, $new-savanna-tab-button-background-color, 20%) !default;

/* Changing Button Basic color default */
$button-basic-glyph-color: #333 !default;
$button-basic-glyph-opacity: 1 !default;
