// // Since some UI is set to full width and others are not, we have to 
// // explicitly set padding on elements that need it, so siblings can be
// // 100% width.

// /*
//  *	@private variables
//  */ 

.search-dal.x-panel-default{
	border-bottom: 1px solid #ccc;
	padding: 10px;
	
	&:first-child{
		border-top: 1px solid #ccc;
	}

	.x-btn-default-small .x-btn-inner{
		padding: 0;
	}
	.dal-checkbox{
		float: left;
		margin-top: -4px;
		margin-right: 10px;
	}
	.dal-toggle{
		float: right;
	}
	.dal-text{
		clear: both;
		float: left;
	}
	.search-dal-group{
		margin-top: 5px;
		margin-left: -3px;
	}
}
