.popUpAnchor.left.top  {
  background: transparent url("images/searchmap/top-left.png") no-repeat;
  height: 44px;
  width: 51px;
  position: absolute;
}

.popUpAnchor.right.top  {
  background: transparent url("images/searchmap/top-right.png") no-repeat;
  height: 44px;
  width: 51px;
  position: absolute;
}

.popUpAnchor.left.bottom  {
  background: transparent url("images/searchmap/bottom-left.png") no-repeat;
  height: 44px;
  width: 51px;
  position: absolute;
}

.popUpAnchor.right.bottom  {
  background: transparent url("images/searchmap/bottom-right.png") no-repeat;
  height: 44px;
  width: 51px;
  position: absolute;
}

.map-popup-title {
  color: #40B3DF;
}

.map-popup-text {
  font:15px arial,sans-serif;
}



