
.process-header-font ..x-accordion-hd .x-panel-header-text-container{
    color: #333333 !important;
    text-transform: capitalize;
}

.process-header-font .x-panel-header-text-container{
    color: #333333 !important;
    text-transform: capitalize;
}
