
.process-header-font .x-accordion-hd .x-panel-header-text-container{
    color: #333333 !important;
    text-transform: capitalize !important;
}

.process-header-font .x-panel-header-text-container{
    color: #333333 !important;
    text-transform: capitalize !important;
}

.x-resizable-handle-east {
	right: 0px !important;
}
.x-resizable-handle-north {
    top: -100px !important;
    width: 90% !important;
}
.draggable-hover-select .x-grid-row-selected .x-grid-td
{
    border-radius: 10px !important;
}