.refine-term  {
	float: left;
	margin-left: 10px;
	
	.x-panel-body-default{
		background-color: $thetus-ltblue;
		color: #333;
		padding: 2px;
	}

	.x-btn-default-small .x-btn-inner{
		color: $thetus-blue;
	}
}