/*
 *	@author astump
 *	@date 10/30/2013
 *	@descriptiong This is a homeless bit of code. This sets the proper styling for Search/ModelSearch results
 */
.openButtonClass{
	right: 0;  
	top: 5px; 
	position: absolute;
	
	&.showBtn{
		visibility: visible;
	}
	&.hideBtn{
		visibility: hidden;
	}
}
 .resultDiv {
 	position: relative;
 	max-height: 85px;
 	width: 100%;
 	overflow: hidden;
 	
 	.elipsis:after{
 		content: ' ...';
 	}

 	.sourceDiv {
 		float: left;
 		position: relative;
 		top: 0px;
 		left: 0px;
 		width: 113px;
 		height: 75px;
 		overflow: hidden;
 		border: 1px solid #999;
 		margin: 0 10px 0 0;
 		text-align: center;
 		
 		div {
 			line-height: 75px;
 			background-position: center;
 			background-size: contain;
 			width: 100%;
 			height: 100%;
 		}

 		.no-image{
 			display: none;
 		}

 	}
	
	.contentDiv{
		max-height: 50px;
		overflow: hidden;
	}

	.grid-cell-title {
		margin: 0 0 5px 0;
		
		strong {
			font-weight: bold;
		}
	}
 }