/*
 *	@author astump
 *	@date 11/07/2013
 *	@descriptiong This is a homeless bit of code. This sets the proper styling for the Draw a Polygon 
 *				  tool in the Location Search
 */

.locationSearch-drawPolygon{
	left: auto !important;
	right: 15px !important;
	top: 15px !important;
}