.new-savanna-tab{
  padding-left:0;
  padding-right:0;
  .#{$prefix}tab-glyph{
    text-align:center;
    width: 24px;
    font-size: 10px;
    color:$tab-dark-color;
    &:hover{
      opacity:0.5;
    }
  }
}