/*
*  Variables for custom framework header
*
* @author lpelofske
*/
/*
* Variables
*/                           
                                    


$brand-header-button-color: #999999 !default;
$brand-header-button-color-over: #999999 !default;
$brand-header-button-color-focus: #999999 !default;
$brand-header-button-color-pressed: #999999 !default;
$brand-header-button-color-disabled: #888888 !default;

$brand-header-button-large-border-width: 0px;

$brand-header-logo-image: url('images/logo/logo-savanna.png');

$brand-header-dashboard-image: url('images/framework/brand-header-dashboard.png');
$brand-header-dashboard-image-hover:url('images/framework/brand-header-dashboard-hover.png');

$brand-header-spacemanager-image: url('images/framework/brand-header-spacemanager.png');
$brand-header-spacemanager-image-hover:url('images/framework/brand-header-spacemanager-hover.png');

$brand-header-search-image: url('images/framework/brand-header-search.png');
$brand-header-search-image-hover:url('images/framework/brand-header-search-hover.png');

$brand-header-upload-image: url('images/framework/brand-header-upload.png');
$brand-header-upload-image-hover:url('images/framework/brand-header-upload-hover.png');

$brand-header-error-image: url('images/framework/brand-header-error.png');
$brand-header-error-image-hover:url('images/framework/brand-header-error-hover.png');

$brand-header-help-image: url('images/framework/brand-header-help.png');
$brand-header-help-image-hover:url('images/framework/brand-header-help-hover.png');

$brand-header-user-image: url('images/framework/brand-header-user.png');
$brand-header-user-image-hover:url('images/framework/brand-header-user-hover.png');

$workspace-header-singleview-image:url('images/framework/workspace-header-singleview.png');
$workspace-header-splitview-image: url('images/framework/workspace-header-splitview.png');
