/*
 *	Savanna Theme
 *	This Component.scss file is, for better or worse, the "entry" point for including
 *	custom.scss files. Since Component.scss is rather generic, it won't breach any
 *	semantic naming conventions. If you add some custom CSS (EG, Baby-gate), please
 *	create a semantically named file for what you are doing and include it here so it will
 *	be compiled with others. Let's keep it clean!
 */

/*
 *	@includes
 */
@import 'all';
@import 'components/BoxSelect';

/*
 *	@variables
 */
 // Base color to white so we're not overwriting a bunch of color code
$base-color: $dark-gray !default;
$color: $dark-gray !default;

/* these are going into the savanna-theme for now.
 * but will need to be pulled out into UIKit in the future
 */
$rollover_list: #EBF1F4 !default;
$selected_list: #CCE1EE !default;

// Global CSS Configs
$include-rtl: false !default;